body {
  background-color: #F3F4EB;
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #412817;
}

div .nav-list {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #EAEADF;
  border-radius: 10px;
}

.header {
  padding-bottom: 20px;
}