body {
  background-color: #F3F4EB;
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px #000;
}

a {
  color: #412817;
}

.header {
  padding-left: 10px;
  padding-bottom: 30px;
}